[User]
email = 
firstName = 
lastName = 
companyName = 
phoneNumber = 
password = 

[Address]
address = 
city = 
state = 
countryCode = 
zipcode =

[payment]
walletpath =

[Server]
root_password =
ns1 = 
ns2 = 
hostname = 
